<h2>Products</h2>

<div *ngFor="let aProd of products">

    <h3>
        <a [title]="aProd.name + 'details'">
            {{aProd.name}}
        </a>

    </h3>

    <p  *ngIf="aProd.description">
        {{aProd.description}}
    </p>

    <button (click)="share()"> 
        Share
    </button> 

    <app-product-alerts [product]="aProd">

    </app-product-alerts>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->